{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Image Upload{% endblock %}

{% block extra_styles %}
<style>
    



</style>
{% endblock %}

{% block content %}
   
    <header>
        <h1>Home</h1>
        <a href="https://www.hs-pforzheim.de/" target="_blank">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        </a>
    </header>


    <div style="display: flex; width: 2000; justify-content: center;">
        <iframe title="Board" width="2000" height="700" src="https://app.powerbi.com/reportEmbed?reportId=814adfdb-e5d5-4cdb-99b0-5e90203e94d2&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" ></iframe>
    </div>
    
    


   
    
{% endblock %}
